.banner {
  height: 421px;
  background-color: #1c036c;
}

.banner .content {
  height: 421px;
  background: url(../images/banner2_20190819_210028.png) no-repeat top center;
}

.banner .content .subnav {
  float: left;
  width: 190px;
  height: 421px;
  background-color: rgba(0, 0, 0, .3);
}

.banner .content .subnav li {
  padding: 0 20px;
}

.banner .content .subnav li a {
  display: inline-block;
  width: 150px;
  height: 46px;
  line-height: 46px;
  color: #fff;
  font-size: 14px;
}

.banner .content .subnav li:hover a {
  color: #039ae5;
}

.banner .content .subnav li a span {
  float: right;
}

.banner .content .course {
  float: right;
  width: 230px;
  height: 300px;
  margin-top: 50px;
  background-color: #fff;
}

.banner .content .course h2 {
  height: 48px;
  line-height: 48px;
  background-color: #9bceea;
  text-align: center;
  color: #fff;
  font-style: 18px;
}

.banner .content .course .bd {
  padding: 0 20px;
}
.banner .content .course .bd li {
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
}

.banner .content .course .bd li h4 {
  font-size: 16px;
}

.banner .content .course .bd li p {
  font-size: 12px;
  color: #a5a5a5;
}

.banner .content .course .more {
  display: block;
  height: 36px;
  margin-top: 5px;
  border: 2px solid #22b0ff;
  line-height: 36px;
  text-align: center;
}