.footer {
  height: 415px;
  background-color: #fff;
}

.footer .content {
  padding-top: 35px;
}

.footer .content .copyright {
  float: left;
}

.footer .content .copyright p {
  margin: 23px 0 15px 0;
  font-size: 12px;
  color: #666;
}

.footer .content .copyright a {
  display: inline-block;
  width: 118px;
  height: 34px;
  border: 2px solid #00a4ff;
  line-height: 34px;
  font-size: 16px;
  color: #00a4ff;
  text-align: center;
}

.footer .content .links {
  float: right;
}

.footer .content .links dl {
  float: left;
  margin-left: 100px;
}

.footer .content .links dt {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}

.footer .content .links dd {
  line-height: 20px;
  font-size: 12px;
  color: #333;
}

.footer .content .links dd a:hover {
  text-decoration: underline;
}