.header {
  overflow: hidden; /* 解决嵌套块元素垂直外边距的塌陷 */
  height: 100px;
  /* background-color: #333; */
}

.header .content {
  height: 42px;
  margin: 30px auto;
  /* background-color: pink; */
}

.header .content .logo {
  float: left;
  width: 195px;
  height: 42px;
}

.header .content .nav {
  float: left;
  margin-left: 60px;
}

.header .content .nav>li {
  float: left;
  margin: 0 15px;
}

.header .content .nav>li>a {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  padding: 0 10px;
}

.header .content .nav>li>a:hover {
  border-bottom: 1px solid #00a4ff;
  color: #00a4ff;
}

.header .content .search {
  float: left;
  width: 412px;
  height: 42px;
  margin-left: 70px;
}

.header .content .search input {
  float: left;
  width: 345px;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #00a4ff;
  border-right: 0;
  color: #bfbfbf;
  font-size: 14px;
}

.header .content .search .btn {
  float: left;
  width: 50px;
  height: 42px;
  background-image: url(../images/btn.png);
}

.header .content .user {
  float: right;
  line-height: 42px;
  margin-right: 30px;
  font-size: 14px;
  color: #666;
}