* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f3f7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

input:focus {
  outline: none;
}

button {
  border: 0;
}

h3, h4 {
  font-weight: normal;
}